mixin pageTop()
    +b.header-and-arrow
        <svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M26 9.5H2M2 9.5L10 1.5M2 9.5L10 17.5" stroke="#35455C" stroke-width="2"/>
        </svg>
        h1 Портфолио

mixin filters()
    +b.portfolio
        .row
            .col-sm-4
                +e.filter-control
                    h4 Фильтры
                    .btn.orange(href="#") Сбросить
                +e.filter-options 
                    +item-col-1("Навесы", ...items1)
                    +item-col-1("Прочие конструкции", ...items2)
                    +item-col-2("Длина", ...items3)
                    +item-col-2("Ширина", ...items3)
            .col-sm-8
                +e.filter-control
                    p.grey Сортировать по:
                    h4 Цене 
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.88171 10V1.93579M4.88171 1.93579L0.849609 5.9679M4.88171 1.93579L8.91382 5.9679" stroke="#35455C" stroke-width="2"/>
                        </svg>
                +e.cards 
                    +card(items4)
                    +card(items4)
                    +card(items4)
//- Даже с конвертором не получилась пагинация

mixin contacts()
    +b.contacts
        +e.headers 
            h4.grey Контакты
            h2 Позвоните или посетите наш офис на производстве
    +b.info 
        .row
            .col-sm-8 
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2230.3396413417436!2d37.48216231535052!3d56.01279037937823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b53ceda073c63f%3A0x12b84ec8d64f873a!2z0YPQuy4g0JzQsNGP0LrQvtCy0YHQutC-0LPQviwgNSwg0JvQvtCx0L3Rjywg0JzQvtGB0LrQvtCy0YHQutCw0Y8g0L7QsdC7LiwgMTQxNzMw!5e0!3m2!1sru!2sru!4v1659635051725!5m2!1sru!2sru" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            .col-sm-4 
                +e.place-and-time 
                    <svg width="18" height="23" viewBox="0 0 18 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.68697 0.505599C4.31606 0.658965 0.684904 4.06909 0.265405 8.42196C0.179701 9.29253 0.229319 10.136 0.382685 10.9435C0.382685 10.9435 0.396217 11.0382 0.441324 11.2186C0.576647 11.8231 0.77963 12.4095 1.03223 12.9598C1.91183 15.0437 3.94617 18.5305 8.51105 22.3241C8.79072 22.5586 9.20119 22.5586 9.48537 22.3241C14.0502 18.5351 16.0846 15.0482 16.9687 12.9553C17.2258 12.4049 17.4243 11.8231 17.5596 11.2141C17.6002 11.0382 17.6182 10.939 17.6182 10.939C17.722 10.3977 17.7761 9.84284 17.7761 9.27449C17.7761 4.32169 13.6759 0.32968 8.68697 0.505599ZM8.99821 13.6409C6.6436 13.6409 4.73556 11.7328 4.73556 9.37824C4.73556 7.02363 6.6436 5.11558 8.99821 5.11558C11.3528 5.11558 13.2609 7.02363 13.2609 9.37824C13.2609 11.7328 11.3528 13.6409 8.99821 13.6409Z" fill="#2C3440"/>
                    </svg>
                    p.info-text Москва и МО
                    <svg width="11" height="6" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1.5L4.83564 4.90945C5.21452 5.24624 5.78548 5.24624 6.16436 4.90945L10 1.5" stroke="#2C3440" stroke-width="1.5"/>
                    </svg>
                    p.opened Открыто
                    p.info-text Пн-Вс 9:00-21:00
                +e.socials 
                    h5 Телефоны
                    p +7 495 256 30 67
                    p +7 495 256 30 67
                +e.email 
                    h5 Email
                    p info@naves-na-zakaz.ru
                +e.offices 
                    h5 Офисы и цеха
                    p Лобня, улица Маяковского, д. 5
                    p Одицово, улица Стрелецкая, д. 66
                    p Одицово, улица Стрелецкая, д. 66
                    p Одицово, улица Стрелецкая, д. 66
                    p Одицово, улица Стрелецкая, д. 66
                    p Одицово, улица Стрелецкая, д. 66


//- input(type='text', placeholder="Вопрос")

mixin item-col-1(title, ...items)
    +item-title(title)
    each item in items 
        +in-c('checkbox', item)

mixin item-col-2(title, ...items1)
    +item-title(title)
    .row 
        .col-3 
            each item in items1 
                +in-c('checkbox', item)
        .col-3 
            each item in items1 
                +in-c('checkbox', item)


mixin item-title(title) 
    .item-title 
        <svg width="11" height="6" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 0.771484L5.45701 5.2285L9.91403 0.771484" stroke="#35455C"/>
        </svg>
        h5.grey=title

mixin card(items)
    +b.card 
        +e.card-body
            +pic("card.jpg")
            h4 Навес 4 Х 8 из сотового поликарбоната
            p.grey Габариты: 6х6 м Высота по столбам: 2,4м
            h5 Характеристики
            each item in items
                .row 
                    .col-4 
                        p.grey=item.title
                    .col-8
                        p.grey=item.text
                    hr
        +e.card-bottom 
            h4 150 400&#8381
            .btn Подробнее








//- ?????
mixin in-c(typ="checkbox", text, name= typ ) 
    +b.LABEL.custom-input.form-check
        +e.INPUT.input.form-check-input.custom(name=name, type=typ)&attributes(attributes)
        if block
            block 
        else
            +e.SPAN.text.form-check-label= text