mixin pageTop()
    +b.header-and-arrow
        +icon("arrow-left")
        h1 Портфолио

mixin filters()
    +b.portfolio
        .row
            .col-lg-4
                +e.filter-control
                    h4 Фильтры
                    +e.BUTTON.btn.btn.orange Сбросить
                +e.filter-options 
                    +item-col-1("Навесы", ...items1)
                    +item-col-1("Прочие конструкции", ...items2)
                    +item-col-2("Длина", ...items3)
                    +item-col-2("Ширина", ...items3)
            .col-lg-8
                +e.filter-control.sort
                    p.grey Сортировать по:
                    +select('','Цене', ...items3)
                    +icon('arrow-up')
                +e.cards
                    .row
                        +card(items4)
                        +card(items4)
                        +card(items4)

mixin contacts()
    +b.contacts
        +e.headers 
            h2.grey Контакты
            h1 Позвоните или посетите наш офис на производстве
    +b.info 
        .row.upper
            .col-lg-8
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2230.3396413417436!2d37.48216231535052!3d56.01279037937823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b53ceda073c63f%3A0x12b84ec8d64f873a!2z0YPQuy4g0JzQsNGP0LrQvtCy0YHQutC-0LPQviwgNSwg0JvQvtCx0L3Rjywg0JzQvtGB0LrQvtCy0YHQutCw0Y8g0L7QsdC7LiwgMTQxNzMw!5e0!3m2!1sru!2sru!4v1659635051725!5m2!1sru!2sru" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            .col-lg-4
                +e.place-and-time 
                    +icon('location')
                    p.info-text Москва и МО
                    +icon('filter-arrow')
                    p.opened Открыто
                    p.info-text Пн-Вс 9:00-21:00
                +e.socials 
                    h5 Телефоны
                    p +7 495 256 30 67
                    p +7 495 256 30 67
                    +clip-icon-text('whatsapp', 'Whatsapp')
                    +clip-icon('instagram')
                    +clip-icon('fb')
                    .btn Обратный звонок

                +e.email 
                    h5 Email
                    p info@naves-na-zakaz.ru
                +e.offices 
                    h5 Офисы и цеха
                    +clip-text('Лобня, улица Маяковского, д. 5')
                    +clip-text('Лобня, улица Маяковского, д. 5')
                    +clip-text('Лобня, улица Маяковского, д. 5')
                    +clip-text('Лобня, улица Маяковского, д. 5')
                    +clip-text('Лобня, улица Маяковского, д. 5')
                    +clip-text('Лобня, улица Маяковского, д. 5')
            .col-lg-8.get-answer
                input.question(type='text', placeholder="Вопрос")
            .col-lg-4.get-answer 
                input(type='tel', placeholder="Телефон")
                .btn.margin Получить консультацию

mixin clip-text(text)
    .clip 
        p=text

mixin clip-icon-text(icon, text)
    .clip.inline-block 
        +icon(icon)
        p=text

mixin clip-icon(icon)
    .clip.inline-block 
        +icon(icon)

mixin item-col-1(title, ...items)
    +item-title(title)
    .filter-checkbox
        each item in items 
            +in-c('checkbox', item)

mixin item-col-2(title, ...items1)
    +item-title(title)
    .row 
        .col-3 
            each item in items1 
                +in-c('checkbox', item)
        .col-3 
            each item in items1 
                +in-c('checkbox', item)


mixin item-title(title) 
    .item-title 
        +icon('filter-arrow')
        h5.grey=title

mixin card(items)
    .col-lg-6
        +b.card 
            +e.card-body
                +pic("card.jpg")
                h4 Навес 4 Х 8 из сотового поликарбоната
                p.grey Габариты: 6х6 м Высота по столбам: 2,4м
                h5 Характеристики
                each item in items
                    table 
                        tr 
                            td.name 
                                p.grey=item.title 
                            td.value 
                                p=item.text
            +e.card-bottom 
                h4 150 400&#8381
                .btn Подробнее








//- ?????
mixin in-c(typ="checkbox", text, name= typ ) 
    +b.LABEL.custom-input.form-check
        +e.INPUT.input.form-check-input.custom(name=name, type=typ)&attributes(attributes)
        if block
            block 
        else
            +e.SPAN.text.form-check-label= text